/* main structure */

html, body, section {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

div {
  margin: 7px;
  text-align: left;
}

section {
  float: left;
  width: 50%;
}

section#results {
  background: #f53240;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 80%;
  color: white;
  text-align: left;
  line-height: 1.9em;
  margin: 15px;
  padding-top: 70px;
  padding-bottom: 30px
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
}

/* headers and font */

h1 {
  font-family: 'Bitter', serif;
  text-transform: uppercase;
  width: 90%;
  margin: auto;
  padding-top: 50px;
  color: black;
  font-size: 200%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  width: 88%;
  text-transform: uppercase;
  margin: auto;
  padding-top: 5px;
  color: black;
  font-size: 81%;
}

a:link, a:active, a:visited {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 65%;
  text-decoration: none;
}

a:hover {
  color: black;
}

b {
  color: black;
}

/* form text */

label {
  text-align: right;
  text-transform: uppercase;
  font-size: 65%;
  padding-right: 3.75em;
  width: 10%;
  display: inline-block;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-size: 65%;
  color: white;
  width: 230px;
  height: 30px;
  padding: 3px;
  border: none;
  background-color: #02c8a7;
}

input[type="text"]:focus {
  background-color: #7cdbd5;
}

/* buttons on form */

input[type=submit], input[type=reset] {
  font-family: 'Bitter', serif;
  text-transform: uppercase;
  color: white;
  font-size: 70%;
  text-align: center;
  padding: 16px;
  width: 115px;
  margin-top: 12px;
  margin-left: 10px;
  border: 1px solid #f9be02;
  background-color: #f9be02;
}

input[type=submit]:hover, input[type=reset]:hover {
  color: #f9be02;
  border: 1px solid #f9be02;
  background-color: white;
  cursor: pointer;
}

input[type=submit]:active, input[type=reset]:active {
  color: white;
  border: 1px solid #f9be02;
  background-color: #f9be02;
}

input[type=reset]:focus, input[type=submit]:focus {
  outline: none;
}
